input#edit-search-quick-search {
  float: left;
}
div#new-search {
  clear: left;
}

div#filters {
  position: relative;
  width: 220px;
  margin-right: 20px;
}


div#tabbed {/*Record View*/
  float: right;
  width: 600px;
  overflow: hidden;
}

ul#tablinks li {
  float: left;
  padding: 4px;
  border: 1px solid #999;
  background-image: none;
  background: #ddd;
}
ul#tablinks li.active {
  background: #fff;
}
div.sfmtab {
  clear: left;
  border: 1px solid #999;
 /* display:none; */
}
td.views-field-phpcode span{/*Record View*/
  font-size: 12px;
  color: #00709e;
}
div#numentries {
  float: right;
}

/*Search Results View*/
td.views-field-phpcode-1 {
  width: 100px;
}

td.views-field-phpcode h3{
  margin: 0 0 0 0;/*Record View*/
}

td.views-field-phpcode h4{
  margin: 0 0 10px 0;
}

td.views-field-phpcode p{
  margin: 0 0 10px 0;
}

div .form-checkboxes a{
  text-decoration: none;
  font-size: 12px;
}

/*AtoZ Results View*/

#edart h3{
  margin: 0 0 -5px 0;
}

#edart h4{
  margin: 0 0 10px 0;
}

#edart p{
  margin: 0 0 10px 0;
}

/*Record View*/

#addsection {
  float: left;
  width: 400px;
  margin: 20px 0 0 0;
}

#map_canvas {
  float: right;
  margin: 30px 0 0 0;
}

#record h3{
  margin: 0;	
}

#record .more h3{
  margin: 0 0 10px 0;
}

.back-to-search {
  margin: 30px 0 0 0;
}

.sect {
  margin: 0 0 0 0;
}

.sect h6{
  margin: 0 10px 0 0;
  color: #16567e;
  float: left;	
}

.sect span.heading {
  margin: 0 10px 0 0;
  color: #16567e;
  float: left;
  font-weight: bold;
}

.sect ul {
  display:inline-block !important; display:block;
  float:none !important; float:left;
}
.sect ul li {
  list-style:none;
}

.addblock {
  margin: 0 0 30px 0;
}

.clearmap {
  clear: both;
  height: 20px;
}

span.small {
  font-size: 10px;
}
